# 02 - Filtern und Sortieren der Daten

Die Daten werden direkt aus dem Internet geladen. 
Danke an: https://github.com/justmarkham für dei Bereitstellung des Materials.

### Step 1. Importieren der notwendigen Pakete

In [1]:
import pandas as pd

### Step 2. Importiere die Daten von folgender [Adresse](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Weise dem Datensatz die Variable chipo zu.

In [2]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep="\t")

### Step 4. Wie viele Produkte kosten mehr als $10.00?

In [3]:
chipo["item_price"] = chipo.item_price.str.slice(start=1).astype(float)

In [16]:
chipo.query("item_price > 10")

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25

### Step 5. Was ist der Preis jedes einzelnen Produkts? 
###### Gib einen Dataframe aus, der nur 2 Spalten enthält: item_name und item_price.

In [20]:
chipo[["item_price", "item_name"]]

      item_price                              item_name
0           2.39           Chips and Fresh Tomato Salsa
1           3.39                                   Izze
2           3.39                       Nantucket Nectar
3           2.39  Chips and Tomatillo-Green Chili Salsa
4          16.98                           Chicken Bowl
...          ...                                    ...
4617       11.75                          Steak Burrito
4618       11.75                          Steak Burrito
4619       11.25                     Chicken Salad Bowl
4620        8.75                     Chicken Salad Bowl
4621        8.75                     Chicken Salad Bowl

[4622 rows x 2 columns]

### Step 6. Sortiere den Dataframe anhand des item_name.

In [24]:
chipo.sort_values(["item_price", "order_id"])

,order_id,quantity,item_name,choice_description,item_price
28,14,1,Canned Soda,[Dr. Pepper],1.09
34,17,1,Bottled Water,NaN,1.09
53,24,1,Canned Soda,[Sprite],1.09
87,38,1,Bottled Water,NaN,1.09
107,47,1,Canned Soda,[Dr. Pepper],1.09
...,...,...,...,...,...
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",33.75
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",35.00
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",35.00
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",35.25
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 7. Wie oft wurde das teuerste Produkt bestellt?

In [37]:
name = chipo.sort_values("item_price", ascending=False)["item_name"][0]
chipo.query("item_name == @name")

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
25,13,1,Chips and Fresh Tomato Salsa,NaN,2.39
55,25,1,Chips and Fresh Tomato Salsa,NaN,2.39
89,39,1,Chips and Fresh Tomato Salsa,NaN,2.95
183,82,1,Chips and Fresh Tomato Salsa,NaN,2.95
...,...,...,...,...,...
4231,1689,1,Chips and Fresh Tomato Salsa,NaN,2.95
4318,1722,1,Chips and Fresh Tomato Salsa,NaN,2.95
4324,1725,1,Chips and Fresh Tomato Salsa,NaN,2.95
4425,1764,1,Chips and Fresh Tomato Salsa,NaN,2.95
4503,1790,1,Chips and Fresh Tomato Salsa,NaN,2.95

In [39]:
max_price = chipo["item_price"].max()
chipo[chipo["item_price"] == max_price]["quantity"].sum()

15

### Step 8. Wie oft wurde ein (oder mehrere) Veggie Salad Bowl bestellt?

In [42]:
len(chipo[chipo.item_name == "Veggie Salad Bowl"])

18

### Step 9. Wie oft haben Leute mehr als eine Canned Soda bestellt?

In [45]:
chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]
chipo.query("item_name == 'Canned Soda' and quantity > 1")

      order_id  quantity    item_name choice_description  item_price
18           9         2  Canned Soda           [Sprite]        2.18
51          23         2  Canned Soda     [Mountain Dew]        2.18
162         73         2  Canned Soda        [Diet Coke]        2.18
171         76         2  Canned Soda  [Diet Dr. Pepper]        2.18
350        150         2  Canned Soda        [Diet Coke]        2.18
352        151         2  Canned Soda        [Coca Cola]        2.18
698        287         2  Canned Soda        [Coca Cola]        2.18
700        288         2  Canned Soda        [Coca Cola]        2.18
909        376         2  Canned Soda     [Mountain Dew]        2.18
1091       450         2  Canned Soda       [Dr. Pepper]        2.18
1092       450         2  Canned Soda        [Coca Cola]        2.18
1944       787         2  Canned Soda       [Dr. Pepper]        2.18
2135       859         2  Canned Soda        [Diet Coke]        2.18
2235       901         4  Canned Soda           [Sprite]        4.36
2905      1156         2  Canned Soda        [Coca Cola]        2.18
2906      1156         2  Canned Soda           [Sprite]        2.18
3152      1258         2  Canned Soda       [Dr. Pepper]        2.18
3364      1349         2  Canned Soda        [Coca Cola]        2.18
3592      1440         2  Canned Soda        [Diet Coke]        2.18
3866      1550         2  Canned Soda     [Mountain Dew]        2.18

In [47]:
chipo.rename(columns={"item_price": "total_price"}, inplace=True)

In [49]:
chipo["item_price"] = chipo.total_price / chipo.quantity

In [50]:
chipo

,order_id,quantity,item_name,choice_description,total_price,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

In [52]:
chipo.groupby("item_name").nunique()

,order_id,quantity,choice_description,total_price,item_price
item_name,,,,,
6 Pack Soft Drink,54,2,5,2,1
Barbacoa Bowl,61,1,49,6,6
Barbacoa Burrito,88,1,71,6,6
Barbacoa Crispy Tacos,11,2,11,5,4
Barbacoa Salad Bowl,9,1,9,2,2
Barbacoa Soft Tacos,25,1,17,4,4
Bottled Water,154,7,0,10,2
Bowl,2,2,2,2,2
Burrito,4,1,6,1,1
Canned Soda,94,3,6,3,1
Canned Soft Drink,276,4,5,4,1
Carnitas Bowl,67,3,59,7,5
Carnitas Burrito,58,2,47,7,6
Carnitas Crispy Tacos,7,2,7,4,3
Carnitas Salad,1,1,1,1,1
Carnitas Salad Bowl,6,1,6,2,2
Carnitas Soft Tacos,38,1,28,3,3
Chicken Bowl,615,3,348,13,8
Chicken Burrito,489,4,310,12,6
Chicken Crispy Tacos,45,2,43,6,4
Chicken Salad,9,1,7,3,3
Chicken Salad Bowl,98,2,78,4,2
Chicken Soft Tacos,107,2,78,7,4
Chips,208,3,0,4,2
Chips and Fresh Tomato Salsa,110,4,0,6,3
Chips and Guacamole,474,4,0,9,5
Chips and Mild Fresh Tomato Salsa,1,1,0,1,1
Chips and Roasted Chili Corn Salsa,22,2,0,2,1
Chips and Roasted Chili-Corn Salsa,18,1,0,1,1
Chips and Tomatillo Green Chili Salsa,43,2,0,2,1
Chips and Tomatillo Red Chili Salsa,46,2,0,2,1
Chips and Tomatillo-Green Chili Salsa,31,2,0,2,1
Chips and Tomatillo-Red Chili Salsa,19,3,0,3,1
Crispy Tacos,1,1,2,1,1
Izze,17,1,3,1,1
Nantucket Nectar,26,2,4,2,1
Salad,1,1,2,1,1
Side of Chips,101,3,0,3,2
Steak Bowl,188,3,155,10,6
Steak Burrito,342,3,251,12,6
Steak Crispy Tacos,35,2,28,5,4
Steak Salad,4,1,3,2,2
Steak Salad Bowl,28,2,28,3,2
Steak Soft Tacos,54,2,42,5,4
Veggie Bowl,82,2,62,5,4
Veggie Burrito,91,2,58,5,4
Veggie Crispy Tacos,1,1,1,1,1
Veggie Salad,6,1,4,1,1
Veggie Salad Bowl,18,1,16,2,2
Veggie Soft Tacos,7,2,7,4,3

In [54]:
chipo.query("item_name == 'Barbacoa Bowl'")["choice_description"]

39      [Roasted Chili Corn Salsa, [Fajita Vegetables,...
58      [Roasted Chili Corn Salsa, [Fajita Vegetables,...
95      [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...
115     [[Tomatillo-Red Chili Salsa (Hot), Tomatillo-G...
127     [Tomatillo Red Chili Salsa, [Rice, Pinto Beans...
                              ...
4380    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...
4441    [Tomatillo Green Chili Salsa, [Rice, Cheese, G...
4485    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...
4510                                          [Guacamole]
4594    [Roasted Chili Corn Salsa, [Pinto Beans, Sour ...
Name: choice_description, Length: 66, dtype: object