In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [34]:
df_akas = pd.read_table('https://datasets.imdbws.com/title.akas.tsv.gz', compression='gzip', on_bad_lines="skip")
df_basics = pd.read_table('https://datasets.imdbws.com/title.basics.tsv.gz', compression='gzip', on_bad_lines="skip")
df_crew = pd.read_table('https://datasets.imdbws.com/title.crew.tsv.gz', compression='gzip', on_bad_lines="skip")
df_ratings = pd.read_table('https://datasets.imdbws.com/title.ratings.tsv.gz', compression='gzip', on_bad_lines="skip")
df_names = pd.read_table("https://datasets.imdbws.com/name.basics.tsv.gz", compression='gzip', on_bad_lines="skip")

/var/folders/27/_w012g5n1c55m7kh9r8jyn488xbh04/T/ipykernel_16104/2311517725.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_akas = pd.read_table('https://datasets.imdbws.com/title.akas.tsv.gz', compression='gzip', on_bad_lines="skip")
/var/folders/27/_w012g5n1c55m7kh9r8jyn488xbh04/T/ipykernel_16104/2311517725.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_basics = pd.read_table('https://datasets.imdbws.com/title.basics.tsv.gz', compression='gzip', on_bad_lines="skip")

In [85]:
df_names = pd.read_table("https://datasets.imdbws.com/name.basics.tsv.gz", compression='gzip', on_bad_lines="skip")

In [38]:
df_akas.head(12)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0
5,tt0000001,6,Carmencita,US,\N,imdbDisplay,\N,0
6,tt0000001,7,Carmencita,\N,\N,original,\N,1
7,tt0000001,8,カルメンチータ,JP,ja,imdbDisplay,\N,0
8,tt0000002,1,Le clown et ses chiens,\N,\N,original,\N,1
9,tt0000002,2,Le clown et ses chiens,FR,\N,imdbDisplay,\N,0
10,tt0000002,3,A bohóc és kutyái,HU,\N,imdbDisplay,\N,0
11,tt0000002,4,Der Clown und seine Hunde,DE,\N,\N,literal title,0

In [37]:
df_akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33544413 entries, 0 to 33544412
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.0+ GB

In [40]:
# Setze fehlende Werte auf nan
df_akas = df_akas.replace(r"\N", np.nan)

In [41]:
df_akas.head(12)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
6,tt0000001,7,Carmencita,NaN,NaN,original,NaN,1
7,tt0000001,8,カルメンチータ,JP,ja,imdbDisplay,NaN,0
8,tt0000002,1,Le clown et ses chiens,NaN,NaN,original,NaN,1
9,tt0000002,2,Le clown et ses chiens,FR,NaN,imdbDisplay,NaN,0
10,tt0000002,3,A bohóc és kutyái,HU,NaN,imdbDisplay,NaN,0
11,tt0000002,4,Der Clown und seine Hunde,DE,NaN,NaN,literal title,0

In [23]:
df_akas.language.unique()

array(['\\N', 'ja', 'en', 'sv', 'tr', 'es', 'sr', 'cs', 'fr', 'hi', 'sk',
       'fa', 'bg', 'ca', 'qbn', 'ru', 'nl', 'pt', 'cmn', 'uz', 'uk',
       'qbp', 'ar', 'rn', 'bs', 'ga', 'de', 'th', 'yi', 'ka', 'hr', 'sl',
       'he', 'it', 'tg', 'kk', 'bn', 'da', 'el', 'fi', 'be', 'gsw', 'gl',
       'eu', 'yue', 'az', 'ms', 'pl', 'id', 'mr', 'qbo', 'mi', 'ta', 'lt',
       'lv', 'af', 'la', 'hy', 'ur', 'te', 'ml', 'tl', 'mk', 'et', 'gd',
       'cy', 'qal', 'ro', 'xh', 'gu', 'kn', 'eka', 'ko', 'ky', 'wo', 'no',
       'is', 'hu', 'sq', 'vi', 'zh', 'tk', 'pa', 'ps', 'zu', 'sd', 'ku',
       'roa', 'tn', 'rm', 'su', 'jv', 'st', 'prs', 'lb', 'fro', 'haw',
       'mn', 'lo', 'my', 'am', 'qac', 'ne', 'myv', 'br', 'iu', 'cr'],
      dtype=object)

In [42]:
df_akas_small = df_akas[df_akas.language == "de"]

In [47]:
df_akas_small.region.value_counts()

DE      3784038
CH         1206
BE          216
XWG          13
AT            6
LU            6
XWW           3
DDDE          2
AF            1
Name: region, dtype: int64

In [48]:
df_akas_small = df_akas_small.query("region == 'DE'")

In [49]:
df_akas_small.head(12)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
87727,tt0020530,23,Ein andalusischer Hund,DE,de,NaN,NaN,0
87751,tt0020530,45,Der andalusische Hund,DE,de,tv,NaN,0
545051,tt0070628,19,Das Sanatorium zur Sanduhr,DE,de,festival,NaN,0
614725,tt0078079,2,Das kleine Mädchen aus blauem Samt,DE,de,imdbDisplay,NaN,0
639343,tt0080736,26,Der letzte Countdown,DE,de,imdbDisplay,NaN,0
835581,tt0102172,3,Folge #1.2,DE,de,NaN,NaN,0
856133,tt0104603,3,Folge #1.2,DE,de,NaN,NaN,0
879462,tt0107363,2,Folge #2.17,DE,de,NaN,NaN,0
903902,tt0110357,69,Der König der Löwen,DE,de,imdbDisplay,NaN,0
965019,tt0118098,7,Stimmen in Der Zeit,DE,de,imdbDisplay,NaN,0
1013407,tt0125659,29,Öffne die Augen,DE,de,imdbDisplay,NaN,0
1016180,tt0126363,6,Folge #1.3,DE,de,NaN,NaN,0

In [50]:
df_akas_small = df_akas_small.drop_duplicates(subset=["titleId"])

In [51]:
df_akas_small.head(12)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
87727,tt0020530,23,Ein andalusischer Hund,DE,de,NaN,NaN,0
545051,tt0070628,19,Das Sanatorium zur Sanduhr,DE,de,festival,NaN,0
614725,tt0078079,2,Das kleine Mädchen aus blauem Samt,DE,de,imdbDisplay,NaN,0
639343,tt0080736,26,Der letzte Countdown,DE,de,imdbDisplay,NaN,0
835581,tt0102172,3,Folge #1.2,DE,de,NaN,NaN,0
856133,tt0104603,3,Folge #1.2,DE,de,NaN,NaN,0
879462,tt0107363,2,Folge #2.17,DE,de,NaN,NaN,0
903902,tt0110357,69,Der König der Löwen,DE,de,imdbDisplay,NaN,0
965019,tt0118098,7,Stimmen in Der Zeit,DE,de,imdbDisplay,NaN,0
1013407,tt0125659,29,Öffne die Augen,DE,de,imdbDisplay,NaN,0
1016180,tt0126363,6,Folge #1.3,DE,de,NaN,NaN,0
1063721,tt0139783,2,Folge #1.1,DE,de,NaN,NaN,0

In [52]:
df_akas_small.shape

(3784036, 8)

In [56]:
df_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

## Merge

In [57]:
?pd.merge

Signature:
pd.merge(
    left: 'DataFrame | Series',
    right: 'DataFrame | Series',
    how: 'str' = 'inner',
    on: 'IndexLabel | None' = None,
    left_on: 'IndexLabel | None' = None,
    right_on: 'IndexLabel | None' = None,
    left_index: 'bool' = False,
    right_index: 'bool' = False,
    sort: 'bool' = False,
    suffixes: 'Suffixes' = ('_x', '_y'),
    copy: 'bool' = True,
    indicator: 'bool' = False,
    validate: 'str | None' = None,
) -> 'DataFrame'
Docstring:
Merge DataFrame or named Series objects with a database-style join.

A named Series object is treated as a DataFrame with a single named column.

The join is done on columns or indexes. If joining columns on
columns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes
on indexes or indexes on a column or columns, the index will be passed on.
When performing a cross merge, no column specifications to merge on are
allowed.

.. warning::

    If both key columns contain rows where the key is a null value, those
    rows will be matched against each other. This is different from usual SQL
    join behaviour and can lead to unexpected results.

Parameters
----------
left : DataFrame
right : DataFrame or named Series
    Object to merge with.
how : {'left', 'right', 'outer', 'inner', 'cross'}, default 'inner'
    Type of merge to be performed.

    * left: use only keys from left frame, similar to a SQL left outer join;
      preserve key order.
    * right: use only keys from right frame, similar to a SQL right outer join;
      preserve key order.
    * outer: use union of keys from both frames, similar to a SQL full outer
      join; sort keys lexicographically.
    * inner: use intersection of keys from both frames, similar to a SQL inner
      join; preserve the order of the left keys.
    * cross: creates the cartesian product from both frames, preserves the order
      of the left keys.

      .. versionadded:: 1.2.0

on : label or list
    Column or index level names to join on. These must be found in both
    DataFrames. If `on` is None and not merging on indexes then this defaults
    to the intersection of the columns in both DataFrames.
left_on : label or list, or array-like
    Column or index level names to join on in the left DataFrame. Can also
    be an array or list of arrays of the length of the left DataFrame.
    These arrays are treated as if they are columns.
right_on : label or list, or array-like
    Column or index level names to join on in the right DataFrame. Can also
    be an array or list of arrays of the length of the right DataFrame.
    These arrays are treated as if they are columns.
left_index : bool, default False
    Use the index from the left DataFrame as the join key(s). If it is a
    MultiIndex, the number of keys in the other DataFrame (either the index
    or a number of columns) must match the number of levels.
right_index : bool, default False
    Use the index from the right DataFrame as the join key. Same caveats as
    left_index.
sort : bool, default False
    Sort the join keys lexicographically in the result DataFrame. If False,
    the order of the join keys depends on the join type (how keyword).
suffixes : list-like, default is ("_x", "_y")
    A length-2 sequence where each element is optionally a string
    indicating the suffix to add to overlapping column names in
    `left` and `right` respectively. Pass a value of `None` instead
    of a string to indicate that the column name from `left` or
    `right` should be left as-is, with no suffix. At least one of the
    values must not be None.
copy : bool, default True
    If False, avoid copy if possible.
indicator : bool or str, default False
    If True, adds a column to the output DataFrame called "_merge" with
    information on the source of each row. The column can be given a different
    name by providing a string argument. The column will have a Categorical
    type with the value of "left_only" for observations whose merge key only
    appears in the left DataFrame, "right_only" for observations
    whose merge key only appears in the right DataFrame, and "both"
    if the observation's merge key is found in both DataFrames.

validate : str, optional
    If specified, checks if merge is of specified type.

    * "one_to_one" or "1:1": check if merge keys are unique in both
      left and right datasets.
    * "one_to_many" or "1:m": check if merge keys are unique in left
      dataset.
    * "many_to_one" or "m:1": check if merge keys are unique in right
      dataset.
    * "many_to_many" or "m:m": allowed, but does not result in checks.

Returns
-------
DataFrame
    A DataFrame of the two merged objects.

See Also
--------
merge_ordered : Merge with optional filling/interpolation.
merge_asof : Merge on nearest keys.
DataFrame.join : Similar method using indices.

Notes
-----
Support for specifying index levels as the `on`, `left_on`, and
`right_on` parameters was added in version 0.23.0
Support for merging named Series objects was added in version 0.24.0

Examples
--------
>>> df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
...                     'value': [1, 2, 3, 5]})
>>> df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
...                     'value': [5, 6, 7, 8]})
>>> df1
    lkey value
0   foo      1
1   bar      2
2   baz      3
3   foo      5
>>> df2
    rkey value
0   foo      5
1   bar      6
2   baz      7
3   foo      8

Merge df1 and df2 on the lkey and rkey columns. The value columns have
the default suffixes, _x and _y, appended.

>>> df1.merge(df2, left_on='lkey', right_on='rkey')
  lkey  value_x rkey  value_y
0  foo        1  foo        5
1  foo        1  foo        8
2  foo        5  foo        5
3  foo        5  foo        8
4  bar        2  bar        6
5  baz        3  baz        7

Merge DataFrames df1 and df2 with specified left and right suffixes
appended to any overlapping columns.

>>> df1.merge(df2, left_on='lkey', right_on='rkey',
...           suffixes=('_left', '_right'))
  lkey  value_left rkey  value_right
0  foo           1  foo            5
1  foo           1  foo            8
2  foo           5  foo            5
3  foo           5  foo            8
4  bar           2  bar            6
5  baz           3  baz            7

Merge DataFrames df1 and df2, but raise an exception if the DataFrames have
any overlapping columns.

>>> df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
Traceback (most recent call last):
...
ValueError: columns overlap but no suffix specified:
    Index(['value'], dtype='object')

>>> df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
>>> df2 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})
>>> df1
      a  b
0   foo  1
1   bar  2
>>> df2
      a  c
0   foo  3
1   baz  4

>>> df1.merge(df2, how='inner', on='a')
      a  b  c
0   foo  1  3

>>> df1.merge(df2, how='left', on='a')
      a  b  c
0   foo  1  3.0
1   bar  2  NaN

>>> df1 = pd.DataFrame({'left': ['foo', 'bar']})
>>> df2 = pd.DataFrame({'right': [7, 8]})
>>> df1
    left
0   foo
1   bar
>>> df2
    right
0   7
1   8

>>> df1.merge(df2, how='cross')
   left  right
0   foo      7
1   foo      8
2   bar      7
3   bar      8
File:      ~/opt/miniconda3/lib/python3.9/site-packages/pandas/core/reshape/merge.py
Type:      function

In [59]:
df_merge = pd.merge(df_akas_small, df_basics, left_on="titleId", right_on="tconst", how="left")

In [60]:
df_merge.head(12)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0020530,23,Ein andalusischer Hund,DE,de,NaN,NaN,0,tt0020530,short,Un chien andalou,Un chien andalou,0,1929,\N,16,"Fantasy,Horror,Short"
1,tt0070628,19,Das Sanatorium zur Sanduhr,DE,de,festival,NaN,0,tt0070628,movie,The Hourglass Sanatorium,Sanatorium pod Klepsydra,0,1973,\N,124,"Drama,Fantasy,Horror"
2,tt0078079,2,Das kleine Mädchen aus blauem Samt,DE,de,imdbDisplay,NaN,0,tt0078079,movie,Little Girl in Blue Velvet,La petite fille en velours bleu,0,1978,\N,108,"Drama,Romance,War"
3,tt0080736,26,Der letzte Countdown,DE,de,imdbDisplay,NaN,0,tt0080736,movie,The Final Countdown,The Final Countdown,0,1980,\N,103,"Action,Adventure,Sci-Fi"
4,tt0102172,3,Folge #1.2,DE,de,NaN,NaN,0,tt0102172,tvEpisode,Episode #1.2,Episode #1.2,0,\N,\N,81,"Drama,History"
5,tt0104603,3,Folge #1.2,DE,de,NaN,NaN,0,tt0104603,tvEpisode,Episode #1.2,Episode #1.2,0,1991,\N,\N,"Adventure,Animation,Comedy"
6,tt0107363,2,Folge #2.17,DE,de,NaN,NaN,0,tt0107363,tvEpisode,Episode #2.17,Episode #2.17,0,1993,\N,\N,Comedy
7,tt0110357,69,Der König der Löwen,DE,de,imdbDisplay,NaN,0,tt0110357,movie,The Lion King,The Lion King,0,1994,\N,88,"Adventure,Animation,Drama"
8,tt0118098,7,Stimmen in Der Zeit,DE,de,imdbDisplay,NaN,0,tt0118098,movie,Voci nel tempo,Voci nel tempo,0,1996,\N,86,Drama
9,tt0125659,29,Öffne die Augen,DE,de,imdbDisplay,NaN,0,tt0125659,movie,Open Your Eyes,Abre los ojos,0,1997,\N,119,"Drama,Mystery,Sci-Fi"
10,tt0126363,6,Folge #1.3,DE,de,NaN,NaN,0,tt0126363,tvEpisode,Episode #1.3,Episode #1.3,0,\N,\N,83,"Drama,History"
11,tt0139783,2,Folge #1.1,DE,de,NaN,NaN,0,tt0139783,tvEpisode,Episode #1.1,Episode #1.1,0,1998,\N,70,"Crime,Drama"

In [61]:
df_merge = df_merge.drop(columns=["tconst", "region", "language", "ordering"])

In [62]:
df_merge.head(12)

,titleId,title,types,attributes,isOriginalTitle,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0020530,Ein andalusischer Hund,NaN,NaN,0,short,Un chien andalou,Un chien andalou,0,1929,\N,16,"Fantasy,Horror,Short"
1,tt0070628,Das Sanatorium zur Sanduhr,festival,NaN,0,movie,The Hourglass Sanatorium,Sanatorium pod Klepsydra,0,1973,\N,124,"Drama,Fantasy,Horror"
2,tt0078079,Das kleine Mädchen aus blauem Samt,imdbDisplay,NaN,0,movie,Little Girl in Blue Velvet,La petite fille en velours bleu,0,1978,\N,108,"Drama,Romance,War"
3,tt0080736,Der letzte Countdown,imdbDisplay,NaN,0,movie,The Final Countdown,The Final Countdown,0,1980,\N,103,"Action,Adventure,Sci-Fi"
4,tt0102172,Folge #1.2,NaN,NaN,0,tvEpisode,Episode #1.2,Episode #1.2,0,\N,\N,81,"Drama,History"
5,tt0104603,Folge #1.2,NaN,NaN,0,tvEpisode,Episode #1.2,Episode #1.2,0,1991,\N,\N,"Adventure,Animation,Comedy"
6,tt0107363,Folge #2.17,NaN,NaN,0,tvEpisode,Episode #2.17,Episode #2.17,0,1993,\N,\N,Comedy
7,tt0110357,Der König der Löwen,imdbDisplay,NaN,0,movie,The Lion King,The Lion King,0,1994,\N,88,"Adventure,Animation,Drama"
8,tt0118098,Stimmen in Der Zeit,imdbDisplay,NaN,0,movie,Voci nel tempo,Voci nel tempo,0,1996,\N,86,Drama
9,tt0125659,Öffne die Augen,imdbDisplay,NaN,0,movie,Open Your Eyes,Abre los ojos,0,1997,\N,119,"Drama,Mystery,Sci-Fi"
10,tt0126363,Folge #1.3,NaN,NaN,0,tvEpisode,Episode #1.3,Episode #1.3,0,\N,\N,83,"Drama,History"
11,tt0139783,Folge #1.1,NaN,NaN,0,tvEpisode,Episode #1.1,Episode #1.1,0,1998,\N,70,"Crime,Drama"

In [64]:
df_merge.attributes.value_counts(dropna=False)

NaN                           3784029
complete title                      2
long title                          2
second season title                 1
transliterated title                1
Berlin film festival title          1
Name: attributes, dtype: int64

In [65]:
df_merge = df_merge.drop(columns=["types", "attributes"])

In [66]:
df_merge.head(12)

,titleId,title,isOriginalTitle,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0020530,Ein andalusischer Hund,0,short,Un chien andalou,Un chien andalou,0,1929,\N,16,"Fantasy,Horror,Short"
1,tt0070628,Das Sanatorium zur Sanduhr,0,movie,The Hourglass Sanatorium,Sanatorium pod Klepsydra,0,1973,\N,124,"Drama,Fantasy,Horror"
2,tt0078079,Das kleine Mädchen aus blauem Samt,0,movie,Little Girl in Blue Velvet,La petite fille en velours bleu,0,1978,\N,108,"Drama,Romance,War"
3,tt0080736,Der letzte Countdown,0,movie,The Final Countdown,The Final Countdown,0,1980,\N,103,"Action,Adventure,Sci-Fi"
4,tt0102172,Folge #1.2,0,tvEpisode,Episode #1.2,Episode #1.2,0,\N,\N,81,"Drama,History"
5,tt0104603,Folge #1.2,0,tvEpisode,Episode #1.2,Episode #1.2,0,1991,\N,\N,"Adventure,Animation,Comedy"
6,tt0107363,Folge #2.17,0,tvEpisode,Episode #2.17,Episode #2.17,0,1993,\N,\N,Comedy
7,tt0110357,Der König der Löwen,0,movie,The Lion King,The Lion King,0,1994,\N,88,"Adventure,Animation,Drama"
8,tt0118098,Stimmen in Der Zeit,0,movie,Voci nel tempo,Voci nel tempo,0,1996,\N,86,Drama
9,tt0125659,Öffne die Augen,0,movie,Open Your Eyes,Abre los ojos,0,1997,\N,119,"Drama,Mystery,Sci-Fi"
10,tt0126363,Folge #1.3,0,tvEpisode,Episode #1.3,Episode #1.3,0,\N,\N,83,"Drama,History"
11,tt0139783,Folge #1.1,0,tvEpisode,Episode #1.1,Episode #1.1,0,1998,\N,70,"Crime,Drama"

In [67]:
df_merge.titleType.value_counts()

tvEpisode       3783566
movie                50
short                 9
tvSeries              6
tvMovie               4
video                 2
tvMiniSeries          1
Name: titleType, dtype: int64

In [68]:
df_movie = df_merge[df_merge.titleType != "tvEpisode"]

In [69]:
df_movie.head(10)

,titleId,title,isOriginalTitle,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0020530,Ein andalusischer Hund,0,short,Un chien andalou,Un chien andalou,0,1929,\N,16,"Fantasy,Horror,Short"
1,tt0070628,Das Sanatorium zur Sanduhr,0,movie,The Hourglass Sanatorium,Sanatorium pod Klepsydra,0,1973,\N,124,"Drama,Fantasy,Horror"
2,tt0078079,Das kleine Mädchen aus blauem Samt,0,movie,Little Girl in Blue Velvet,La petite fille en velours bleu,0,1978,\N,108,"Drama,Romance,War"
3,tt0080736,Der letzte Countdown,0,movie,The Final Countdown,The Final Countdown,0,1980,\N,103,"Action,Adventure,Sci-Fi"
7,tt0110357,Der König der Löwen,0,movie,The Lion King,The Lion King,0,1994,\N,88,"Adventure,Animation,Drama"
8,tt0118098,Stimmen in Der Zeit,0,movie,Voci nel tempo,Voci nel tempo,0,1996,\N,86,Drama
9,tt0125659,Öffne die Augen,0,movie,Open Your Eyes,Abre los ojos,0,1997,\N,119,"Drama,Mystery,Sci-Fi"
14,tt0205676,Einladung zum Mord,0,tvMiniSeries,Provincia segreta,Provincia segreta,0,1998,\N,270,"Crime,Drama,Thriller"
31,tt0414993,The Fountain,0,movie,The Fountain,The Fountain,0,2006,\N,97,"Drama,Mystery,Romance"
32,tt0421994,Eine Hochzeit zu dritt,0,movie,Imagine Me & You,Imagine Me & You,0,2005,\N,90,"Comedy,Drama,Romance"

In [70]:
df_crew.head()

      tconst  directors writers
0  tt0000001  nm0005690      \N
1  tt0000002  nm0721526      \N
2  tt0000003  nm0721526      \N
3  tt0000004  nm0721526      \N
4  tt0000005  nm0005690      \N

In [71]:
df_ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      1919
1        tt0000002            5.8       260
2        tt0000003            6.5      1726
3        tt0000004            5.6       173
4        tt0000005            6.2      2541
...            ...            ...       ...
1238830  tt9916690            7.4         6
1238831  tt9916720            5.3       270
1238832  tt9916730            8.4         6
1238833  tt9916766            6.7        21
1238834  tt9916778            7.3        35

[1238835 rows x 3 columns]

In [73]:
df_movie = pd.merge(df_movie, df_ratings, left_on="titleId", right_on="tconst").drop(columns=["tconst"])

In [76]:
df_movie = pd.merge(df_movie, df_crew, left_on="titleId", right_on="tconst").drop(columns=["tconst"])

In [78]:
df_movie.head(6)

,titleId,title,isOriginalTitle,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,directors,writers
0,tt0020530,Ein andalusischer Hund,0,short,Un chien andalou,Un chien andalou,0,1929,\N,16,"Fantasy,Horror,Short",7.7,50295,nm0000320,"nm0198557,nm0000320"
1,tt0070628,Das Sanatorium zur Sanduhr,0,movie,The Hourglass Sanatorium,Sanatorium pod Klepsydra,0,1973,\N,124,"Drama,Fantasy,Horror",7.5,4301,nm0367860,"nm0367860,nm0776431"
2,tt0078079,Das kleine Mädchen aus blauem Samt,0,movie,Little Girl in Blue Velvet,La petite fille en velours bleu,0,1978,\N,108,"Drama,Romance,War",6.1,79,nm0108707,"nm0108707,nm0915089"
3,tt0080736,Der letzte Countdown,0,movie,The Final Countdown,The Final Countdown,0,1980,\N,103,"Action,Adventure,Sci-Fi",6.6,24223,nm0852279,"nm0403065,nm0694268,nm0024388,nm0204651"
4,tt0110357,Der König der Löwen,0,movie,The Lion King,The Lion King,0,1994,\N,88,"Adventure,Animation,Drama",8.5,1048594,"nm0591450,nm0021249","nm0575293,nm0731271,nm0941314,nm0560329,nm0424..."
5,tt0118098,Stimmen in Der Zeit,0,movie,Voci nel tempo,Voci nel tempo,0,1996,\N,86,Drama,7.9,322,nm0681311,\N

In [ ]:
df_movie = df_movie.drop(columns=["writers"])

In [83]:
df_movie = df_movie.drop(columns=["endYear"])

In [84]:
df_movie.head(12)

,titleId,title,isOriginalTitle,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,averageRating,numVotes,directors
0,tt0020530,Ein andalusischer Hund,0,short,Un chien andalou,Un chien andalou,0,1929,16,"Fantasy,Horror,Short",7.7,50295,nm0000320
1,tt0070628,Das Sanatorium zur Sanduhr,0,movie,The Hourglass Sanatorium,Sanatorium pod Klepsydra,0,1973,124,"Drama,Fantasy,Horror",7.5,4301,nm0367860
2,tt0078079,Das kleine Mädchen aus blauem Samt,0,movie,Little Girl in Blue Velvet,La petite fille en velours bleu,0,1978,108,"Drama,Romance,War",6.1,79,nm0108707
3,tt0080736,Der letzte Countdown,0,movie,The Final Countdown,The Final Countdown,0,1980,103,"Action,Adventure,Sci-Fi",6.6,24223,nm0852279
4,tt0110357,Der König der Löwen,0,movie,The Lion King,The Lion King,0,1994,88,"Adventure,Animation,Drama",8.5,1048594,"nm0591450,nm0021249"
5,tt0118098,Stimmen in Der Zeit,0,movie,Voci nel tempo,Voci nel tempo,0,1996,86,Drama,7.9,322,nm0681311
6,tt0125659,Öffne die Augen,0,movie,Open Your Eyes,Abre los ojos,0,1997,119,"Drama,Mystery,Sci-Fi",7.7,69584,nm0024622
7,tt0205676,Einladung zum Mord,0,tvMiniSeries,Provincia segreta,Provincia segreta,0,1998,270,"Crime,Drama,Thriller",4.9,11,nm0557170
8,tt0414993,The Fountain,0,movie,The Fountain,The Fountain,0,2006,97,"Drama,Mystery,Romance",7.2,239501,nm0004716
9,tt0421994,Eine Hochzeit zu dritt,0,movie,Imagine Me & You,Imagine Me & You,0,2005,90,"Comedy,Drama,Romance",6.7,33094,nm0662530
10,tt0463854,28 Wochen später,0,movie,28 Weeks Later,28 Weeks Later,0,2007,100,"Action,Adventure,Horror",6.9,276782,nm0294379
11,tt0903624,Der Hobbit - Eine unerwartete Reise,0,movie,The Hobbit: An Unexpected Journey,The Hobbit: An Unexpected Journey,0,2012,169,"Adventure,Fantasy",7.8,823776,nm0001392

In [87]:
df_movie = df_movie.set_index("titleId")

In [88]:
df_movie

,title,isOriginalTitle,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,averageRating,numVotes,directors
titleId,,,,,,,,,,,,
tt0020530,Ein andalusischer Hund,0,short,Un chien andalou,Un chien andalou,0,1929,16,"Fantasy,Horror,Short",7.7,50295,nm0000320
tt0070628,Das Sanatorium zur Sanduhr,0,movie,The Hourglass Sanatorium,Sanatorium pod Klepsydra,0,1973,124,"Drama,Fantasy,Horror",7.5,4301,nm0367860
tt0078079,Das kleine Mädchen aus blauem Samt,0,movie,Little Girl in Blue Velvet,La petite fille en velours bleu,0,1978,108,"Drama,Romance,War",6.1,79,nm0108707
tt0080736,Der letzte Countdown,0,movie,The Final Countdown,The Final Countdown,0,1980,103,"Action,Adventure,Sci-Fi",6.6,24223,nm0852279
tt0110357,Der König der Löwen,0,movie,The Lion King,The Lion King,0,1994,88,"Adventure,Animation,Drama",8.5,1048594,"nm0591450,nm0021249"
...,...,...,...,...,...,...,...,...,...,...,...,...
tt8500050,Das Menschenmögliche,0,tvMovie,A Matter of Life,Das Menschenmögliche,0,2019,88,Drama,6.9,45,nm1804604
tt8863032,Elefanten wachsen schnell,0,movie,Der Geburtstag,Der Geburtstag,0,2019,80,Drama,6.3,76,nm1390786
tt8974586,Nevrland,0,movie,Nevrland,Nevrland,0,2019,88,"Drama,Thriller",5.4,754,nm3270014
tt9010738,Miss Fisher und die Gruft der Tränen,0,movie,Miss Fisher & the Crypt of Tears,Miss Fisher and the Crypt of Tears,0,2020,101,"Adventure,Drama,Mystery",6.0,4190,nm0863477
tt9090170,Checker Tobi und das Geheimnis unseres Planeten,0,movie,Checker Tobi und das Geheimnis unseres Planeten,Checker Tobi und das Geheimnis unseres Planeten,0,2019,84,"Adventure,Comedy",7.1,157,nm1990779

In [93]:
df_movie.isOriginalTitle.value_counts().index

Index(['0', 0], dtype='object')

In [90]:
df_movie.info()

<class 'pandas.core.frame.DataFrame'>
Index: 61 entries, tt0020530 to tt9090170
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            61 non-null     object
 1   isOriginalTitle  61 non-null     object
 2   titleType        61 non-null     object
 3   primaryTitle     61 non-null     object
 4   originalTitle    61 non-null     object
 5   isAdult          61 non-null     object
 6   startYear        61 non-null     object
 7   runtimeMinutes   61 non-null     object
 8   genres           61 non-null     object
 9   averageRating    61 non-null     float64
 10  numVotes         61 non-null     int64
 11  directors        61 non-null     object
dtypes: float64(1), int64(1), object(10)
memory usage: 8.2+ KB

In [94]:
df_movie = df_movie.drop(columns=["isOriginalTitle"])

In [95]:
df_movie.to_parquet("df_movie.parquet")

In [97]:
!pip install fastparquet

Collecting fastparquet
  Downloading fastparquet-0.8.3-cp310-cp310-macosx_11_0_arm64.whl (567 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 567.8/567.8 kB 2.9 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Requirement already satisfied: numpy>=1.18 in /Users/miay/opt/miniconda3/envs/data-science/lib/python3.10/site-packages (from fastparquet) (1.23.4)
Collecting fsspec
  Downloading fsspec-2022.10.0-py3-none-any.whl (138 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 138.8/138.8 kB 1.7 MB/s eta 0:00:00 MB/s eta 0:00:01
Requirement already satisfied: pandas>=1.1.0 in /Users/miay/opt/miniconda3/envs/data-science/lib/python3.10/site-packages (from fastparquet) (1.5.0)
Requirement already satisfied: packaging in /Users/miay/opt/miniconda3/envs/data-science/lib/python3.10/site-packages (from fastparquet) (21.3)
Collecting cramjam>=2.3.0
  Downloading cramjam-2.5.0-cp310-cp310-macosx_10_9_x86_64.macosx_11_0_arm64.macosx_10_9_universal2.whl (2.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.8/2.8 MB 7.3 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/miay/opt/miniconda3/envs/data-science/lib/python3.10/site-packages (from pandas>=1.1.0->fastparquet) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/miay/opt/miniconda3/envs/data-science/lib/python3.10/site-packages (from pandas>=1.1.0->fastparquet) (2022.4)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/miay/opt/miniconda3/envs/data-science/lib/python3.10/site-packages (from packaging->fastparquet) (3.0.9)
Requirement already satisfied: six>=1.5 in /Users/miay/opt/miniconda3/envs/data-science/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas>=1.1.0->fastparquet) (1.16.0)
Installing collected packages: cramjam, fsspec, fastparquet
Successfully installed cramjam-2.5.0 fastparquet-0.8.3 fsspec-2022.10.0

In [96]:
df_movie.to_csv("df_movie.csv")

In [98]:
df_movie = pd.read_parquet("df_movie.parquet")

In [99]:
df_movie.head(12)

,title,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,averageRating,numVotes,directors
titleId,,,,,,,,,,,
tt0020530,Ein andalusischer Hund,short,Un chien andalou,Un chien andalou,0,1929,16,"Fantasy,Horror,Short",7.7,50295,nm0000320
tt0070628,Das Sanatorium zur Sanduhr,movie,The Hourglass Sanatorium,Sanatorium pod Klepsydra,0,1973,124,"Drama,Fantasy,Horror",7.5,4301,nm0367860
tt0078079,Das kleine Mädchen aus blauem Samt,movie,Little Girl in Blue Velvet,La petite fille en velours bleu,0,1978,108,"Drama,Romance,War",6.1,79,nm0108707
tt0080736,Der letzte Countdown,movie,The Final Countdown,The Final Countdown,0,1980,103,"Action,Adventure,Sci-Fi",6.6,24223,nm0852279
tt0110357,Der König der Löwen,movie,The Lion King,The Lion King,0,1994,88,"Adventure,Animation,Drama",8.5,1048594,"nm0591450,nm0021249"
tt0118098,Stimmen in Der Zeit,movie,Voci nel tempo,Voci nel tempo,0,1996,86,Drama,7.9,322,nm0681311
tt0125659,Öffne die Augen,movie,Open Your Eyes,Abre los ojos,0,1997,119,"Drama,Mystery,Sci-Fi",7.7,69584,nm0024622
tt0205676,Einladung zum Mord,tvMiniSeries,Provincia segreta,Provincia segreta,0,1998,270,"Crime,Drama,Thriller",4.9,11,nm0557170
tt0414993,The Fountain,movie,The Fountain,The Fountain,0,2006,97,"Drama,Mystery,Romance",7.2,239501,nm0004716
tt0421994,Eine Hochzeit zu dritt,movie,Imagine Me & You,Imagine Me & You,0,2005,90,"Comedy,Drama,Romance",6.7,33094,nm0662530
tt0463854,28 Wochen später,movie,28 Weeks Later,28 Weeks Later,0,2007,100,"Action,Adventure,Horror",6.9,276782,nm0294379
tt0903624,Der Hobbit - Eine unerwartete Reise,movie,The Hobbit: An Unexpected Journey,The Hobbit: An Unexpected Journey,0,2012,169,"Adventure,Fantasy",7.8,823776,nm0001392

In [113]:
df_movie["#genre"] = df_movie.genres.str.split(",").apply(len)

In [115]:
df_movie["#genre"].value_counts()

3    34
1    14
2    13
Name: #genre, dtype: int64

In [118]:
df_movie[df_movie["#genre"] == 1]["genres"].value_counts()

Drama          6
Documentary    4
Comedy         2
Short          1
Animation      1
Name: genres, dtype: int64

In [ ]:
df_movie.groupby("startYear")["runtimeMinutes"].mean() # Fehler!

In [135]:
df_movie["runtimeMinutes"].str.isnumeric().all()

True

In [127]:
# \N durch NAN zu ersetzen
df_movie = df_movie.replace(r"\N", np.nan)

In [152]:
df_movie[df_movie["runtimeMinutes"].str.find(".") != -1.0] # nächstes Problem: statt \N wurde "None" verwendet

,title,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,averageRating,numVotes,directors,#genre
titleId,,,,,,,,,,,,
tt5977610,Von wegen Liebe,tvMovie,Die Hochzeitsverplaner,Die Hochzeitsverplaner,0,2017,None,"Comedy,Romance",5.4,36,nm2394368,2

In [153]:
df_movie[df_movie["runtimeMinutes"].isna()]

,title,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,averageRating,numVotes,directors,#genre
titleId,,,,,,,,,,,,
tt5977610,Von wegen Liebe,tvMovie,Die Hochzeitsverplaner,Die Hochzeitsverplaner,0,2017,None,"Comedy,Romance",5.4,36,nm2394368,2

In [159]:
df_movie.loc["tt5977610"]

title                    Von wegen Liebe
titleType                        tvMovie
primaryTitle      Die Hochzeitsverplaner
originalTitle     Die Hochzeitsverplaner
isAdult                                0
startYear                           2017
runtimeMinutes                       NaN
genres                    Comedy,Romance
averageRating                        5.4
numVotes                              36
directors                      nm2394368
#genre                                 2
Name: tt5977610, dtype: object

In [146]:
df_movie = df_movie.replace("None", np.nan)

In [157]:
df_movie["runtimeMinutes"] = df_movie["runtimeMinutes"].astype(float)

In [155]:
df_movie.head()

,title,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,averageRating,numVotes,directors,#genre
titleId,,,,,,,,,,,,
tt0020530,Ein andalusischer Hund,short,Un chien andalou,Un chien andalou,0,1929,16.0,"Fantasy,Horror,Short",7.7,50295,nm0000320,3
tt0070628,Das Sanatorium zur Sanduhr,movie,The Hourglass Sanatorium,Sanatorium pod Klepsydra,0,1973,124.0,"Drama,Fantasy,Horror",7.5,4301,nm0367860,3
tt0078079,Das kleine Mädchen aus blauem Samt,movie,Little Girl in Blue Velvet,La petite fille en velours bleu,0,1978,108.0,"Drama,Romance,War",6.1,79,nm0108707,3
tt0080736,Der letzte Countdown,movie,The Final Countdown,The Final Countdown,0,1980,103.0,"Action,Adventure,Sci-Fi",6.6,24223,nm0852279,3
tt0110357,Der König der Löwen,movie,The Lion King,The Lion King,0,1994,88.0,"Adventure,Animation,Drama",8.5,1048594,"nm0591450,nm0021249",3

In [167]:
df_movie.groupby("directors")["averageRating"].mean().sort_values(ascending=False)

directors
nm0591450,nm0021249                                             8.500000
nm2210720                                                       8.100000
nm0681311                                                       7.900000
nm3121604                                                       7.800000
nm0000320                                                       7.700000
nm0003160                                                       7.700000
nm4750144                                                       7.700000
nm0024622                                                       7.700000
nm4123156                                                       7.700000
nm0123931                                                       7.700000
nm0001392                                                       7.666667
nm4287375                                                       7.600000
nm0367860                                                       7.500000
nm8232692,nm6794040,nm6386378,nm10222384,nm8788119,nm4528296    7.500000
nm0084619                                                       7.300000
nm0286975                                                       7.200000
nm5663699                                                       7.200000
nm0004716                                                       7.200000
nm1294142                                                       7.200000
nm1990779                                                       7.100000
nm0527074                                                       7.100000
nm3778247,nm11703463                                            7.000000
nm3526993                                                       7.000000
nm1804604                                                       6.900000
nm0294379                                                       6.900000
nm0259574                                                       6.800000
nm3859682                                                       6.800000
nm1641324,nm8662190                                             6.700000
nm0662530                                                       6.650000
nm0852279                                                       6.600000
nm0393394                                                       6.600000
nm2032664                                                       6.500000
nm0639965                                                       6.500000
nm3592235                                                       6.400000
nm1258346                                                       6.400000
nm1390786                                                       6.300000
nm0850733                                                       6.300000
nm0387976                                                       6.200000
nm0108707                                                       6.100000
nm0863477                                                       6.000000
nm0789748                                                       6.000000
nm0308039                                                       5.900000
nm0057321,nm0002572,nm0857130                                   5.900000
nm2171755                                                       5.700000
nm0788234                                                       5.700000
nm2347483                                                       5.600000
nm3833743                                                       5.600000
nm1286934                                                       5.500000
nm2028084,nm2833272                                             5.400000
nm2394368                                                       5.400000
nm3270014                                                       5.400000
nm0806912                                                       5.200000
nm0557170                                                       4.900000
nm1302262                                                       4.800000
nm1148550                                                       4.200000
nm1950018                                                       4.100000
nm0317488,nm5148803                                             4.100000
Name: averageRating, dtype: float64

In [174]:
df_names[df_names.nconst == "nm0001392"]

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
1390,nm0001392,Peter Jackson,1961,\N,"producer,director,writer","tt0120737,tt0092610,tt0360717,tt0167260"

In [173]:
df_movie.sort_values("numVotes", ascending=False)

,title,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,averageRating,numVotes,directors,#genre
titleId,,,,,,,,,,,,
tt0110357,Der König der Löwen,movie,The Lion King,The Lion King,0,1994,88.0,"Adventure,Animation,Drama",8.5,1048594,"nm0591450,nm0021249",3
tt0903624,Der Hobbit - Eine unerwartete Reise,movie,The Hobbit: An Unexpected Journey,The Hobbit: An Unexpected Journey,0,2012,169.0,"Adventure,Fantasy",7.8,823776,nm0001392,2
tt1170358,Der Hobbit - Smaugs Einöde,movie,The Hobbit: The Desolation of Smaug,The Hobbit: The Desolation of Smaug,0,2013,161.0,"Adventure,Fantasy",7.8,660299,nm0001392,2
tt2310332,Der Hobbit: Die Schlacht der fünf Heere,movie,The Hobbit: The Battle of the Five Armies,The Hobbit: The Battle of the Five Armies,0,2014,144.0,"Adventure,Fantasy",7.4,530041,nm0001392,2
tt4912910,Mission: Impossible - Fallout,movie,Mission: Impossible - Fallout,Mission: Impossible - Fallout,0,2018,147.0,"Action,Adventure,Thriller",7.7,331331,nm0003160,3
...,...,...,...,...,...,...,...,...,...,...,...,...
tt2910458,Awake: ein Reiseführer ins Erwachen,movie,Awake in the Dream,Awake in the Dream,0,2013,100.0,Documentary,7.6,20,nm4287375,1
tt6854966,Little Heroes,movie,Little Heroes,Pequeños Héroes,0,2017,76.0,Animation,7.7,18,nm0123931,1
tt2331464,Zwölf Boxkämpfer jagen Viktor quer über den gr...,short,The Quick Brown Fox Jumps Over the Lazy Dog,The Quick Brown Fox Jumps Over the Lazy Dog,0,2009,3.0,Short,7.1,16,nm0527074,1
tt0205676,Einladung zum Mord,tvMiniSeries,Provincia segreta,Provincia segreta,0,1998,270.0,"Crime,Drama,Thriller",4.9,11,nm0557170,3
tt2338233,"Weißt du, was ich mir wünsche?",short,You Know What I Wish For,Shtoby konchilasj vojna,0,2012,15.0,"Biography,History,Short",7.7,7,nm4750144,3